.ecommerce-cart {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  width: 100%;
  align-items: self-start;
}

.cart-product-details{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.address-container{
    display: flex;
    align-items: center;
    padding: 20px 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 1.00);
}

.address-label{
    background-color: rgb(242, 237, 237);
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    margin-left: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.user-address{
    color: rgb(147, 147, 147);
}

.address-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.address-change-btn{
    margin-left: auto;
    border: none;
    padding: 15px;
    color: rgb(47, 73, 220);
    border-radius: 10px;
}

.cart-detail-container{
    background-color: rgba(255, 255, 255, 1.00);
    padding: 20px 22px;
}

.cart-container{
    display: flex;
    flex-direction: column;
    gap: 13px;   
} 

.cart-product-image-detail-container{
    display: flex;
    gap: 15px;
}

.cart-image-quatity-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.cart-image{
    height: 80px;
    width: 100px;
    overflow: hidden;
    margin-bottom: 12px;
    border: 0.5px solid rgb(176, 174, 174);
    border-radius: 10px;
}

.product-image{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cart-quantity select {
    width: 60px;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid rgb(176, 174, 174);
    border-radius: 8px;
    background-color: white;
}

.cart-product-quantity{
    color: gray;
}

.cart-product-rating{
    color: green;
    margin-bottom: 10px;
}

.cart-product-price{
    font-weight:600;
}

.product-dilvery-date{
    font-size: 17px;
}

.remove-product-button-container{
    height: 40px;
    border: 1px solid rgb(182, 180, 180);
    margin-top: 12px;
}

.remove-button{
    width: 100%;
    height: 100%;
    background-color: white;
    font-weight: 600;
    color: gray;
}

.cart-checkout-title {
  margin: 0;
  color: black;
}

.price-details {
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid #e5e5e5;
  margin-top: 12px;
  background-color: rgba(255, 255, 255, 1.00);
}

.price-detail-rows{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.price-row {
  display: flex;
  justify-content: space-between;
}

.price-label,
.price-value {
  font-size: 14px;
}

.product-total{
    margin-top: 70px;
    border-top: 1px solid gray;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.saved-amount{
    background-color: rgb(234, 243, 234);
    padding: 10px 40px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
    color: green;
}

.price{
    color: rgb(2, 108, 2);
    font-weight: 600;
}

.cart-checkout{
    position: sticky;
    top:60px;
    align-self: start;
}

.safe-payment-container{
    text-align: center;
    padding: 20px;
}

.place-order-container{
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1.00);
}

.order-button{
    background-color: rgb(245, 245, 7);
    padding: 12px 25px;
    font-size: 13px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


@media(max-width: 900px){
    .ecommerce-cart{
         grid-template-columns:  1fr;
    }

    .place-order-container{
        position: fixed;
        bottom: 65px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        left: 0;
        
    }


}