.ecommerce-footer{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
}

.footer-info-section{
    margin-top: 30px;
    width: 200px;
    cursor: pointer;
}

h3{
    margin-bottom: 10px;
    color: gray;
}

.footer-info{
    margin-bottom: 5px;
    color: white;
    font-size: 300;
}