.ecommerce-product-card{
    max-width: 260px;  
    cursor: pointer;
}

.product-image-container{
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 12px;
    overflow: hidden;
}

.product-image{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.product-rating{
    position: absolute;
     bottom: 6px;
    left: 6px;
    display: flex;
    align-items: contain;
    gap: 5px;
    background-color: white;
    border-radius: 3px;
    padding: 2px 4px;
    font-size: 15px;
    font-family: sans-serif;
}

.product-rating-icon{
    color: green;
    width: 12px;
    height: 12px;
    fill: currentColor;
}

.product-name{
    font-size: 14px;
    color: grey;
    margin-bottom: 5px;

}


.product-brand-name {
    font-weight:600;
    color: black;
}

.product-price{
    font-weight:600;
    color: black;
}