
.place-order-container{
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1.00);
}

.order-button{
    background-color: rgb(245, 245, 7);
    padding: 12px 25px;
    font-size: 13px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}