.ecommerce-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* background-color: black; */
}

.ecommerce-header-inner {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: white;
}

.ecommerce-header-actions-section{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.ecommerce-search-container{
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  max-width: 830px;  
}

.ecommerce-search-input{
  width: 100%;
  height: 40px;
  padding: 0 16px 0 46px;
  border-radius: 14px;
  border:1px solid rgb(139, 216, 255);
  background:#f8fafc;
  outline: none;
  font-size:14px;
  transition:.25s;
}

.ecommerce-search-input::placeholder{
  color:#94a3b8;
}

.ecommerce-search-input:focus{
  background:#fff;
}

.ecommerce-search-icon{
  position: absolute;
  left: 15px;
  width: 18px;
  height: 18px;
  pointer-events: none;
  color:#94a3b8;
}

.ecommerce-header-actions{
  display: flex;
  align-items: center;
  padding: 8px 10px;
  gap: 6px;
  font-size: 12px;
  cursor:pointer;
}

.ecommerce-header-action-wrapper {
    position: relative;
}

.ecommerce-header-action-wrapper:hover .ecommerce-dropdown {
    display: block;
}

.ecommerce-header-action-wrapper::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 8px;
}

.ecommerce-header-actions-icon{
  color: #94a3b8;
  width: 18px;
  height: 18px;
}

.ecommerce-header-cart-item-numbers{
  position: relative;
}

.ecommerce-header-cart-number {
  position: absolute;
  top: -8px;
  right: -8px;
  min-width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  border-radius: 999px;
  font-size: 10px;
  background-color: red;
  color: white;
}



main {
    padding-top: 65px;
}

@media (max-width : 900px){
   .ecommerce-header-actions {
        display: none;
    }

     main {
        padding-bottom: 70px;
    }
}